<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}

{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.Language.Locale }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.Language.Locale }}" class="light">
{{- else -}}
<html lang="{{ .Site.Language.Locale }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        {{ partial "bio" . }}
        <main aria-label="Content">
            <h3 class="posts-item-note" aria-label="Recent Posts">{{ T "home.recent_posts" }}</h3>
            {{- $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections -}}
            {{- $posts := $pagesToShow.ByDate.Reverse -}}
            {{- range first 5 $posts }}
            <article class="home-post-item">
                <h4 class="home-post-title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h4>
                {{- with .Summary }}
                <p class="home-post-excerpt">{{ . | truncate 160 }}</p>
                {{- end }}
                {{- $ISO_date := "2006-01-02T15:04:05Z0700" -}}
                {{- $configDateFormat := $.Site.Params.dateFormat | default "2 Jan 2006" -}}
                <time class="home-post-date" datetime="{{ dateFormat $ISO_date .Date }}">
                    {{ time.Format $configDateFormat .Date }}
                </time>
            </article>
            {{- end }}
            {{ if gt (len $posts) 5 }}
            <p class="home-see-all">
                {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
                <a href="{{ $firstSection.Permalink }}">{{ T "home.see_all_posts" }}</a>
                {{ end }}
            </p>
            {{ end }}
        </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
